@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 640px) {
    .screen{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 200vh;
    }
}
